<div class="center toDoSpace">
  <header><h1>ToDo List</h1></header>
  <div class="toDoAddingSpace center">
    <h3>Add ToDo List</h3><hr>
    <input type="text" placeholder="Enter ToDo" [(ngModel)]="inputToDo" (change)="removeParaTag()"><br>
    <button (click)="addToDo()">Add List</button>
  </div>
  <p class="paraTag"> {{ showError }} </p>
  <div *ngFor="let todos of toDoList; let i = index;" class="listingSpace {{ todos.completed ? 'done' : 'Notdone'}} center">
    <div class="toDoName" (click)="onclickDone(i)"> {{ todos.name }} </div>
    <div><button class="remove" (click)="deleteToDo(i)"></button></div>
  </div>
</div>